*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 1800px;
    overflow-x: hidden;
}

main {
    display: flex;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}