#cycles-first-number__tab_1 {
    width: 250px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

#cycles-first-number__tab_2 {
    width: 250px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

.cycles-first-button__tab {
    background-color: green;
    width: 150px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}

.cycles-first-form__tab {
    margin-top: 50px;
}

::placeholder {
    text-align: center;
    font-size: 18px;
}

#cycles-first-result {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}