.forml {
    margin-top: 40px;
    .label-text {
        font-size: 30px;
        padding-right: 20px;
    }
    
    .cycles-second-input {
        width: 200px;
        height: 40px;
        margin-top: -200px;
        padding-top: -40px;
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }

    .cycles-second-button {
        width: 400px;
        height: 40px;
        background-color: rgb(231, 198, 168);
        margin-top: 20px;
        font-size: 20px;
        cursor: pointer;
    }

    #res {
        margin-top: 30px;
        font-size: 30px;
    }

}

