.function-fifth-form{
    margin-top: 40px;
    
    .function-fifth-input{
        width: 200px;
        height: 40px;
        margin-top: -200px;
        padding-top: -40px;
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }

    .function-fifth-button {
        width: 305px;
        height: 40px;
        background-color: rgb(196, 19, 128);
        margin-top: 20px;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }

}

.function-fifth-result {
    font-size: 30px;
    padding-right: 20px;
    margin-top: 20px;
}